.options {
    margin-top: 20px;
    border-radius: 8px;
    height: 40px;
}

.filter {
    display: inline-block;
    width: 15%;
    padding: 2px;
    margin: 7px 5px 5px 10px;
    border: 1px inset #afbfc9;
    color: #404040;
}

.filterButton {
    height: 30px;
    border: 1px outset #b29b8d;
    border-radius: 8px;
    background-color: #b29b8d;
    color: whitesmoke;
    opacity: 0.8;
    width: 10%;
    text-transform: uppercase;
}

.filterButton:hover {
    opacity: 1.0;
    cursor: pointer;
    font-style: italic;
}

#selectMove {
    float: right;
    margin: 10px;
}