input {
    margin: 5px auto;
    padding: 5px;
    width: 100%;
    font-size: 15px;
    border: 2px solid #6495ed;
    border-radius: 5px;
    background-color: #e7e1dc;
    color: #404040;
}

.logButton {
    padding: 10px;
    margin-top: 10px;
    background-color: #7ca9b5;
    border: none;
    border-radius: 5px;
    color: wheat;
    font-size: 20px;
    text-transform: uppercase;
    width: 104%;
}

.logButton:hover {
    padding: 10px;
    margin-top: 10px;
    background-color: #6495ed;
    border: none;
    border-radius: 5px;
    color: wheat;
    font-size: 20px;
    font-style: italic;
    cursor: pointer;
}

form {
    width: 25%;
    margin: 20px 37.5% 0 37.5%;
    box-sizing: border-box;
}

label {
    color: #5c93a2;
    font-weight: bold;
    font-size: 15px;
    margin: 5px auto;
    text-align: left;
}

#galleryNameInput,
::placeholder {
    background-color: #e7e1dc;
}