.lightbox {
    opacity: 1.0;
}

#polaroid {
    background-color: rbga(255, 255, 255, 0.9);
}

#wrapper {
    width: 100%;
    height: auto;
    max-width: 100%;
}

#expandedImage {
    display: block;
    margin: 0 auto;
    width: 90%;
    height: auto;
    max-width: 100%;
    max-height: 75vh;
    transition: 0.3s;
    border-radius: 8px;
    padding: 2px;
    object-fit: contain;
}

.caption {
    width: 80%;
    margin: auto;
    display: block;
    max-width: 600px;
    text-align: center;
    font-size: 20px;
    height: 130px;
    color: white;
}

#captionDescription {
    font-weight: bold;
}

.caption,
#expandedImage {
    animation-name: zoom;
    animation-duration: 0.6s;
}

.closeButton {
    position: absolute;
    top: 5px;
    right: 20px;
    color: white;
    font-size: 40px;
    cursor: pointer;
    transition: 0.3s;
}

.closeButton :hover,
.closeButton :focus {
    background-color: white;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

@keyframes zoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

@media only screen and (max-width: 600px) {
    #expandedImage {
        width: 100px;
    }
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-size: 40px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.next {
    right: 1px;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 1px;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    font-weight: bold;
}