html {
    background-color: #d1c3bb;
    font-family: 'Open Sans', sans-serif;
}

.mainHeader {
    height: 40px;
    background-color: #b29b8d;
    border-radius: 8px;
}

.navBar {
    background-color: #b29b8d;
    border-radius: 8px;
    border: 2px solid #a88e7e;
    text-decoration: none;
    color: #afbfc9;
    font-weight: bold;
    font-size: 20px;
    margin: 30px;
    padding: 5px;
}

.navBar:hover {
    text-decoration: none;
    color: #9ebdb8;
}

#loginInfo {
    float: right;
    color: #afbfc9;
    font-weight: bold;
    font-size: 20px;
    margin: 5px 15px;
}

#homeTitle {
    margin-top: 50px;
}

h1 {
    color: #7ca9b5;
    font-weight: bold;
    margin: 5px auto;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 20px;
}