a {
    text-decoration: none;
    color: #6495ed;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin: 15px;
}

a:hover {
    text-decoration: none;
    color: #4a81e6;
}

input {
    margin: 5px auto;
    padding: 5px;
    width: 100%;
    font-size: 15px;
    border: 2px solid #6495ed;
    border-radius: 5px;
}

input[type=submit],
button {
    padding: 10px;
    margin-top: 10px;
    background-color: #6495ed;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 20px;
}

/* button {
    width: 104%;
} */

input[type=submit]:hover {
    padding: 10px;
    margin-top: 10px;
    background-color: #4a81e6;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 20px;
}

form {
    width: 25%;
    margin: 50px 37.5% 0 37.5%;
    box-sizing: border-box;
}

h1 {
    color: #6495ed;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin: 5px auto;
    text-align: center;
}

label {
    color: #6495ed;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin: 5px auto;
    text-align: left;
}

#loginInfo {
    float: right;
    color: #555252;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin: 5px 15px;
}

#homeTitle {
    margin-top: 50px;
}