input, select {
    background-color:whitesmoke;
    display: block;
    box-sizing: border-box;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    font-size: 15px;
    border-radius: 6px;
    border: none;
    width: 70%;
    border: 0.5px solid black;
}

form {
    width: 50%;
    margin: auto;
    margin-top: 20px;
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid #38a3c0;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
}

@media only screen and (max-width: 900px) {
    form {
        width: 90%;
        margin-top: 30px;
    }
}

@media only screen and (min-width: 901px) and (max-width: 1240px) {
    form {
        width: 80%;
        margin-top: 30px;
    }
}

label {
    color: #5c93a2;
    font-weight: bold;
    font-size: 15px;
    margin: 5px auto;
}

button, input[type=submit], input[type=file] {
    font-size: 15px;
    padding: 10px;
    border: none;
    border-radius: 6px;
    border: 1px solid gray;
    background-color: white;
}


button:hover, input[type=submit]:hover {
    font-weight: bold;
    cursor: pointer;
}